<%= link_to 'Logout',destroy_user_session_path,:method => :delete %>
<h1>Hello<%= current_user.email %>, You have Posted..</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>user_id</th>
      <th>post_type</th>
      

      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
       
        <td><%= article.des %></td>
        
        <td><%= article.user_id %></td>
         
         <td><%= article.post_type %></td>
     
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_path(article) %></td>
        <td><%= link_to 'Destroy', delete_path(article),
              method: :get,
              data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Post', new_article_path %>
<%= link_to "All User Post",articles_path %>