<h1>ALL USER POST</h1>
 <%= current_user.email %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User Id</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= article.des %></td>
      <td><%= article.user_id %></td>
      <td><%= link_to 'Show', show_form_path(article) %></td>
      <td><%= link_to 'Edit', edit_path(article) %></td>
      <td><%= link_to 'Destroy', delete_path(article),
              method: :get,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to "New Post", new_article_path %>
<%= link_to "Home",home_path %>
<%#= link_to "All User Post",articles_path %>
<%= link_to 'Logout',destroy_user_session_path,:method => :delete %>

