<div id="index_view">
	
  <%= render :partial => 'articles/index_view' %>
</div>

<div id="crud">
  
</div>


<%= link_to "New Post", new_article_path,:remote => true %>
<%= link_to "Home",home_path ,method: :get %>
<%= link_to "All User Post",articles_path %>
<%= link_to 'Logout',destroy_user_session_path,:method => :delete %>

